body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.big-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    /* padding: 20px; */
    max-width: 100%;
    color: white;

    transition: background-color 0.5s ease-in, color 0.5s ease-in;

}

/* .main-menu>ul>li>a {
    background-color: black !important;
    color: white;
} */



.day-night-toggle {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.day-night-toggle img {
    width: 50px;
    height: 50px;
}


.big-container.light-mode {
    background-color: white !important;
    color: black !important;
}

.content.light-mode {
    background-color: white !important;
    color: black !important;
}

/* .heading-title.light-mode {
    background-color: white !important; 
    color: black !important;
} */

.subheading.light-mode {
    background-color: white !important;
    color: black !important;
}


.heading-what-we-do.light-mode {
    background-color: white !important;
    color: black !important;
}

/* .fa-angle-down.light-mode {
    background-color: white !important;
    color: black !important;
}

.main-menu>ul>li.light-mode{
    border: 3px solid blue;
    color: black !important;
} */
/* .dropdown-padding.light-mode {
    background-color: #fff !important;
    color: black !important;
} */

.main-menu>ul>li>a.light-mode {
    background-color: white !important;
    color: black !important;
}

.cta4-section-area.light-mode {
    background-color: gray !important;
}

.cta-header-area>h2.light-mode {
    /* background-color:gray !important; */
    color: black !important;
    z-index: 3;
}

.cta-header-area>p.light-mode {
    /* background-color:gray !important; */
    color: black !important;
    z-index: 3;
}

.banner-btn.light-mode {
    color: black !important;
}

/* .header-area.light-mode{
    background-color: white !important;
    color: black !important;
} */

/* .menu-heading{
    color: black !important;
} */




.seo-section {
    height: 100vh;
    width: 100vw;
    background: rgb(11, 1, 18);
    background-image: linear-gradient(to right bottom, #000000, #50243f, #2c121a, #000000, #000000, #000000, #1d1919, #1d1919, #a81859, #e60278, #02070a, #05161a, #082523);
    background-size: cover;
    /* background-color: beige !important ; */

    /* background:url('https://www.f-cdn.com/assets/main/en/assets/home/make-it-real/make-it-real-bg-ld.jpg'); */
    /* background:url('assets/img/all-images/mainimg1.png'); */
    /* background: linear-gradient(135deg, rgb(255, 203, 112) 0%, rgb(199, 81, 192) 50%, rgb(65, 88, 208) 100%); */
    /* background: url('../img/all-images/mainimg2.png'); */

    /* display: flex; */
    /* background-attachment: fixed; */

}

.heading {

    /* background-color: gray !important; */
    position: relative;
    top: 25vh;
    left: 18vh;
    /* padding-left: 10px; */
    width: 33vw;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin-bottom: 1.1vh;

    /* font-weight: 900; */
    /* overflow: hidden; */
    /* padding-left: 2vw;  */
    z-index: 5;
}

.main-heading-text {
    color: #e60278;

}

.heading-title {
    /* padding-left: 10vh; */
    margin: 0;
    padding: 0;
    font-size: calc(2.5vw + 1.5em);
    font-weight: 900;
    color: white;
    display: inline-block;
    font-family: 'marcellus';
    text-align: start;

}


.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

.heading-title span {
    display: inline-block;
    transform: translateX(200%);
    animation: slide-in 0.8s forwards;
    animation-delay: calc(0.08s * var(--i));

    opacity: 0;
}

.heading-description {

    font-size: 1em;
    color: #fff;
    margin: 20px 0;
    line-height: 1.3;
    text-align: start;

    max-width: 80vw;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'marcellus';
}


.text-center {
    margin-top: 20px !important;

    /* padding-top: 7vh; */
}

.img1 {
    position: absolute;
    bottom: 0px;
    right: 40vh;

}

.img2 {
    position: absolute;
    right: 19vh;
    top: 28vh;

}

@keyframes slide-in {
    0% {
        transform: translateX(160%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}



.content {
    width: 88%;
    /* background-color: #f9f9f9; */
    padding: 20px;
    /* box-shadow: 0px 5px 5px gray; */
    color: white;
    /* background-color: #111 !important; */
    background-color: black !important;
    margin-bottom: 8vh !important;
}

.seo-text {
    margin-bottom: 19vh;
}

.text-and-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

}

.content-image {
    /* mask-image: radial-gradient(circle, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%); */
    /* clip-path: polygon(13% 16%, 100% 11%, 119% 89%, 9% 92%); */
    width: 48%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    /* border-radius: 35vh 10vh 14vh 10vh; */
    /* border-radius: 95% 5% 95% 5% / 7% 92% 8% 93%; */
    margin-left: 2vh;
    /* width: 100%; */
    height: auto;
    max-width: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s ease, box-shadow 0.6s ease;
}

.content-image:hover {
    transform: rotateY(15deg) rotateX(20deg);
    /* filter: drop-shadow(0px 20px 30px #e60278); */
    box-shadow: 0px 20px 30px rgba(51, 6, 234, 0.3);
}



.descriptiveimg {

    width: 48%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    border-radius: 25vh 10vh;
    /* border-radius: 94% 6% 94% 6% / 5% 90% 10% 95% ; */
    /* mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%); */


}

.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}




/* 
.subheading {
    margin: 0 0 10px;
    font-size: 2.6em;
    font-family: system-ui;
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    background-clip: padding-box;
    padding: 5px 10px;
    border-radius: 5px;
    transform: translateX(100%);
    opacity: 0;
}

.subheading.animate {
    animation: subheading-animie 1s forwards;
}

@keyframes subheading-animie {
    0% {
        transform: translateX(160%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
 */









.subheading {
    margin: 0 0 10px;
    font-size: 2.6em;
    font-family: system-ui;
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    justify-content: center;
    background-clip: padding-box;
    /* padding: 5px 10px; */
    border-radius: 5px;
    overflow: hidden;
    text-align: start;

}

.subheading span {
    display: inline-block;
    transform: translateX(100%);
    opacity: 0;
}

.subheading.animate span {
    animation: subheading-animie 1s forwards;
}

@keyframes subheading-animie {
    0% {
        transform: translateX(130%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}








.subheading-text {
    font-size: 1em;
    text-align: left;
    margin-top: 2px;
}


.image-row img {
    border: 2px;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease, z-index 0.3s ease;
    z-index: 1
}

.image-row img:nth-child(2) {
    transform: translateX(-100%);
}





.section-what-we-do {

    margin: 50px auto;
    text-align: center;
}

.heading-what-we-do {

    font-size: 2em;
    margin-bottom: 30px;
    color: #fff;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 1s ease-out;
    font-weight: 600;
    font-family: system-ui;

}

.image-frame-row {
    display: flex;
    flex-wrap: wrap;

    gap: 15px;
    /* Space between images */
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}

.image-frame {
    position: relative;
    width: 23%;
    height: 0;
    padding-bottom: 23%;

    border-radius: 50%;
    opacity: 0;

    transition: opacity 1s ease-out;
    cursor: pointer;


}

.image-frame img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.image-title {
    position: absolute;
    left: -10%;
    top: 15%;
    transform: translateY(-50%);
    background-color: rgba(29, 20, 113, 0.6);
    color: rgb(241, 240, 245);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    white-space: nowrap;
    z-index: 10;
}





@media (max-width: 1024px) {



    .heading-title {
        font-size: 1.2rem;
    }


    .image-row {
        display: none;
    }

    .image-frame-row {
        gap: 40px 85px;
    }

    .image-frame {
        width: 24vw;
        height: 61vh;
        /* gap: 10vh; */
    }

    .image-title {
        left: -10%;
        font-size: 0.7rem;

    }

    .subheading-text {
        width: 90% !important;
    }

    .content-image {

        width: 79vh !important;
        height: 86vh !important;
    }


    .image-title {
        z-index: 6;
    }




    .heading-title {
        font-size: calc(3vw + 1em);
    }

    .heading{
        width: 41vw;
        height: 118vh;
    }
    .seo-section{
        height: 130vh ;
    }

    .img1 {
        top: 72vh;
        height: 58vh;
        right: 69vh;


    }

    .img2 {

        top: 57vh;
        right: 43vh;
        height: 35vh;

    }
}

@media (max-width:800px) {
    .content-image {
        width: 96vh !important;
        height: 75vh !important;
        /* border-radius: 24vh 2vh; */
    }

    .heading{
        width: 41vw;
        height: 118vh;
    }
    .seo-section{
        height: 130vh ;
    }

}

@media (max-width: 768px) {


    .text-and-image {
        flex-direction: column;
    }

    .image-row {
        flex-direction: column;
    }

    .image-row img {
        width: 100%;
        margin-bottom: 15px;
    }


    .heading-title {
        font-size: calc(3vw + 1em);
    }


    



    .image-frame-row {
        gap: 20px;

    }

    .image-frame {
        width: 22vw;
        height: 37vh;
    }

    .image-frame img {
        width: 91% !important;
        /* height: 160px; */


    }

    .image-title {
        left: -13%;
        font-size: 0.7rem;
    }
  

    .img1{
        top: 77vh;
        height: 53vh;
        right: 33vh;;
    }

    .img2{
        top: 64vh;
        height: 31vh;
        right: 11vh;  

    
    }

}

@media (max-width: 480px) {
    .heading-title {
        font-size: calc(3vw + 1.5em);
    }

    .subheading {
        font-size: 1.58em;
        font-weight: 600;

    }

    .subheading-text {
        font-size: 0.8em;
    }





    .section-what-we-do {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-frame-row {
        gap: 20px;
        flex-direction: column;

    }

    .image-frame {
        width: 200px;
        height: 180px;
    }

    .image-title {
        left: -10%;
        font-size: 0.6rem;
    }

    .content {

        width: 90%;
    }

    .content-image {

        width: 90vh !important;
        height: 53vh !important;
        border-radius: 19vh 2vh;
    }


    .seo-section{
        height: 197vh;
    }

    .heading{
        width: 70%;
        /* height: 290vh; */
        position: relative;
        left: 8vh;
        top: 90vh;
    }

    .img1{
        top: 40vh;
        height: 60vh;
        right: 32vh;   
    }
    .img2{
        top: 28vh;
        height: 31vh;
        right: 11vh;

    }
}

@media (max-width:400px) {

    .heading-title {
        font-size: calc(2vw + 1.4em);
    }

    .content {
        padding-right: 0px;
        padding-left: 0px;
    }

    .subheading {
        font-size: 1.5em;
        font-weight: 700;
    }

    .subheading-text {
        font-size: 0.7em;
    }

    .content-image {
        width: 90vh !important;
        height: 54vh !important;
        border-radius: 16vh 2vh;

    }

    .image-frame {
        width: 52vw;
    }

    .img1{
        top: 44vh;
        height: 56vh;
        right: 24vh;

    }

    .img2{
        top: 36vh;
        height: 26vh;
        right: 7vh;
    }
}

@media (max-width:350px) {

    .subheading {
        font-size: 1.1em;
        font-weight: 700;
    }

    .image-frame {
        width: 61vw !important;


    }

    .content-image {
        width: 90vh !important;
        height: 46vh !important;
        border-radius: 16vh 2vh;
    }


    .img1{
        top: 48vh;
        height: 46vh;
        right: 23vh;    
    }

    .img2{
        top: 39vh;
        height: 24vh;
        right: 7vh;
    }
}