body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}




.big-container {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 20px;
    max-width: 100%;
    color: white;

    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

}

.day-night-toggle {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.day-night-toggle img {
    width: 50px;
    height: 50px;
}

.big-container.light-mode {
    background-color: white !important;
    color: black !important;
}

.content.light-mode {
    background-color: white !important;
    color: black !important;
}

.heading-title.light-mode {
    background-color: white !important;
    color: black !important;
}

.subheading.light-mode {
    background-color: white !important;
    color: black !important;
}


.heading-what-we-do.light-mode {
    background-color: white !important;
    color: black !important;
}

.heading {
    /* background: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(67, 31, 124, 0.3)); */
    width: 73%;
    height: 15vh;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.1vh;
    font-weight: 900;
    overflow: hidden;
}

.main-heading-text {
    color: #e60278;

}

.heading-title {
    margin: 0;
    font-size: calc(2.5vw + 2em);
    font-weight: 900;
    color: white;
    display: inline-block;
    font-family: 'marcellus';
}

.marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}

.heading-title span {
    display: inline-block;
    transform: translateX(200%);
    animation: slide-in 0.8s forwards;
    animation-delay: calc(0.08s * var(--i));

    opacity: 0;
}

@keyframes slide-in {
    0% {
        transform: translateX(160%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.content {
    width: 75%;
    /* background-color: #f9f9f9; */
    padding: 20px;
    /* box-shadow: 0px 5px 5px gray; */
    color: white;
    background-color: #111 !important;
}

.seo-text {
    margin-bottom: 19vh;
}

.text-and-image {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 30px;
}

.content-image {
    /* mask-image: radial-gradient(circle, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 100%); */
    /* clip-path: polygon(13% 16%, 100% 11%, 119% 89%, 9% 92%); */
    width: 48%;
    height: auto;
    max-width: 100%;

    /* border-radius: 35vh 10vh 14vh 10vh; */
    border-radius: 95% 5% 95% 5% / 7% 92% 8% 93%;
    margin-left: 2vh;
}

.descriptiveimg {

    width: 48%;
    height: auto;
    max-width: 100%;
    border-radius: 10px;
    border-radius: 25vh 10vh;
    /* border-radius: 94% 6% 94% 6% / 5% 90% 10% 95% ; */
    /* mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%); */


}

.image-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}




/* 
.subheading {
    margin: 0 0 10px;
    font-size: 2.6em;
    font-family: system-ui;
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    background-clip: padding-box;
    padding: 5px 10px;
    border-radius: 5px;
    transform: translateX(100%);
    opacity: 0;
}

.subheading.animate {
    animation: subheading-animie 1s forwards;
}

@keyframes subheading-animie {
    0% {
        transform: translateX(160%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
 */









.subheading {
    margin: 0 0 10px;
    font-size: 2.6em;
    font-family: system-ui;
    color: rgba(255, 255, 255, 0.9);
    display: inline-block;
    background-clip: padding-box;
    padding: 5px 10px;
    border-radius: 5px;
    overflow: hidden;
}

.subheading span {
    display: inline-block;
    transform: translateX(100%);
    opacity: 0;
}

.subheading.animate span {
    animation: subheading-animie 1s forwards;
}

@keyframes subheading-animie {
    0% {
        transform: translateX(130%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}






.subheading-text {
    font-size: 1em;
    text-align: left;
    margin-bottom: 20px;
}


.image-row img {
    border: 2px;
    opacity: 0;
    transform: translateX(100%);
}

.image-row img:nth-child(2) {
    transform: translateX(-100%);
}





.section-what-we-do {

    margin: 50px auto;
    text-align: center;
}

.heading-what-we-do {

    font-size: 2em;
    margin-bottom: 30px;
    color: #fff;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 1s ease-out;
    font-weight: 600;
    font-family: system-ui;

}

.image-frame-row {
    display: flex;
    flex-wrap: wrap;
    /* Allows the images to wrap on smaller screens */
    gap: 15px;
    /* Space between images */
    margin-top: 30px;
    justify-content: center;
}

.image-frame {
    position: relative;
    width: 23%;
    height: 0;
    padding-bottom: 23%;
    /* Make it a square */
    border-radius: 50%;
    opacity: 0;
    /* Initially hidden */
    transition: opacity 1s ease-out;
    cursor: pointer;

}

.image-frame img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.image-title {
    position: absolute;
    left: -10%;
    top: 15%;
    transform: translateY(-50%);
    background-color: rgba(29, 20, 113, 0.6);
    color: rgb(241, 240, 245);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    white-space: nowrap;
    z-index: 10;
}


@media (max-width: 1024px) {


    .heading-title {
        font-size: 1.2rem;
    }


    .image-row {
        display: none;
    }

    .image-frame-row {
        gap: 20px;
    }

    .image-frame {
        width: 260px;
        height: 120px;
        gap: 10vh;
    }

    .image-title {
        left: -10%;
        font-size: 0.7rem;

    }

    .content-image {

        width: 38vh !important;
        height: 54vh !important;
        border-radius: 19vh 2vh;
    }

    .image-title {
        z-index: 6;
    }




    .heading-title {
        font-size: calc(3vw + 1em);
    }



}

@media (max-width:800px) {
    .content-image {
        width: 54vh !important;
        height: 68vh !important;
        border-radius: 24vh 2vh;
    }
}

@media (max-width: 768px) {


    .text-and-image {
        flex-direction: column;
    }

    .image-row {
        flex-direction: column;
    }

    .image-row img {
        width: 100%;
        margin-bottom: 15px;
    }


    .heading-title {
        font-size: 2em;
    }






    .image-frame-row {
        gap: 20px;
    }

    .image-frame img {
        width: 91% !important;
        /* height: 160px; */


    }

    .image-title {
        left: -13%;
        font-size: 0.7rem;
    }


}

@media (max-width: 480px) {
    .heading-title {
        font-size: calc(3vw + .9em);
    }

    .subheading {
        font-size: 1.7em;
        font-weight: 600;

    }

    .subheading-text {
        font-size: 0.8em;
    }





    .section-what-we-do {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .image-frame-row {
        gap: 20px;
        flex-direction: column;

    }

    .image-frame {
        width: 200px;
        height: 180px;
    }

    .image-title {
        left: -10%;
        font-size: 0.6rem;
    }

    .content {

        width: 90%;
    }

    .content-image {

        width: 90vh !important;
        height: 53vh !important;
        border-radius: 19vh 2vh;
    }
}

@media (max-width:400px) {

    .heading-title {
        font-size: calc(2vw + 1.2em);
    }

    .content {
        padding-right: 0px;
        padding-left: 0px;
    }

    .subheading {
        font-size: 27px;
        font-weight: 700;
    }

    .subheading-text {
        font-size: 0.7em;
    }

    .content-image {
        width: 90vh !important;
        height: 54vh !important;
        border-radius: 16vh 2vh;

    }

    .image-frame {
        width: 43vw;
    }
}

@media (max-width:350px) {

    .subheading {
        font-size: 1em;
        font-weight: 700;
    }

    .image-frame {
        width: 30vh !important;
    }

    .content-image {
        width: 90vh !important;
        height: 46vh !important;
        border-radius: 16vh 2vh;
    }

}